## Visual Studio / .NET

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
*.user
*.suo
*.userosscache
*.sln.docview

# NuGet
*.nupkg
*.snupkg
packages/
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# MSBuild
*.binlog

# Class libraries
*.dll
*.exe
!lib/**/*.dll
*.pdb
*.lib
*.exp

# .NET Core
project.lock.json
project.fragment.lock.json

# Rider / JetBrains
.idea/
*.sln.iml

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Test results
TestResults/
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Publish
publish/
**/publish/

# StyleCop
StyleCopReport.xml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# WPF/WinForms designer
Generated_Code/